body {
  margin: 50px 15px;
  background-color: #ffff00;
}

.header {
  background-color: #0000ff;
  border: 1px solid #000;
  height: 200px;
}

.nav {
  background-color: #008000;
  border: 1px solid #000;
  height: 75px;
}

.content {
  background-color: #ff0000;
  border: 1px solid #000;
  height: 250px;
}

.aside {
  background-color: #00ffff;
  border: 1px solid #000;
  height: 250px;
}

.promo {
  background-color: #ffa500;
  border: 1px solid #000;
  height: 200px;
}

.footer {
  background-color: #000;
  border: 1px solid #000;
  height: 75px;
}

.footer h2 {
  color: white;
}